* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.main {
  margin-top: 150px;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: calc(20px + 0.7142857143vw);
  margin: 0 auto;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header__container .logo__img {
  position: absolute;
  top: 17px;
  z-index: 2;
}
.header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: calc(5px + 6.4285714286vw);
  margin-left: 10px;
}
.header .menu__item:not(:last-child) {
  margin-right: calc(10px + 2.1428571429vw);
}
.header .menu__link {
  position: relative;
  color: #253137;
}
.header .menu__link:after {
  content: "";
  position: absolute;
  display: block;
  width: 0%;
  height: 2px;
  background-color: #253137;
  transition: width 0.4s;
  right: 0%;
}
.header .menu__link:hover:after {
  width: 100%;
  transition: width 0.4s;
  left: 0%;
}
.header .menu__link:focus {
  border-bottom: 3px solid #253137;
}
@media screen and (max-width: 767px) {
  .header .menu {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    right: -100%;
    top: 0;
    background-color: rgb(255, 255, 255);
    border-left: 1px solid #253137;
    border-block: 1px solid #253137;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 120px 20px 20px 20px;
    transition: transform 0.5s;
    overflow: hidden;
  }
  .header .menu__list {
    display: block;
    margin-bottom: 20px;
  }
  .header .menu__item:not(:last-child) {
    margin-bottom: 15px;
  }
  .header .menu__link {
    color: #253137;
  }
  .header .menu__link:after {
    content: "";
    position: absolute;
    display: block;
    width: 0%;
    height: 2px;
    background-color: #253137;
    transition: width 0.4s;
    right: 0%;
  }
  .header .menu__link:hover:after {
    width: 100%;
    transition: all 0.4s;
    left: 0%;
  }
}
.header__button {
  padding-inline: calc(17px + 2.1428571429vw);
  padding-block: calc(8px + 0.8571428571vw);
  font-size: calc(8px + 1.1428571429vw);
  font-weight: 500;
  background: none;
  color: #253137;
  border-radius: 10px;
  transition: all 0.4s;
}
.header__button:hover {
  background-color: #253137;
  color: #FFFFFF;
}
.header__button:focus {
  color: #FFFFFF;
  background-color: #253137;
}
.header__burger-btn {
  display: none;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  position: relative;
  z-index: 2;
}
.header__burger-btn span {
  position: absolute;
  border-radius: 10px;
  width: 30px;
  height: 3px;
  left: 5px;
  background-color: #253137;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.header__burger-btn span:nth-child(1) {
  transform: translateY(-8px);
}
.header__burger-btn span:nth-child(3) {
  transform: translateY(8px);
  width: 22px;
}
@media screen and (max-width: 767px) {
  .header__button {
    background-color: #FFFFFF;
  }
  .header__burger-btn {
    display: block;
  }
  .header .logo__img {
    top: 4px;
    z-index: 2;
  }
}
.header.open .header__button {
  margin-left: 10px;
}
.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
  width: 26px;
}
.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}
.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
  width: 26px;
}
@media screen and (max-width: 767px) {
  .header.open .menu {
    transform: translateX(-100%);
  }
}

.language-section {
  margin-block: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.language-section__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (max-width: 575px) {
  .language-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .language-section__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
}

.info__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: calc(10px + 2.1428571429vw);
}
.info__title {
  font-size: calc(8px + 2.5vw);
  font-weight: 600;
}
.info__icon {
  width: calc(20px + 5.7142857143vw);
}
.info__subtitle {
  padding-bottom: calc(10px + 2.1428571429vw);
  font-size: calc(10px + 0.7142857143vw);
  color: #8F95A5;
  max-width: 526px;
}
.info__button {
  padding-inline: calc(30px + 2.5vw);
  padding-block: calc(8px + 1.1428571429vw);
  font-size: calc(8px + 1vw);
  font-weight: 500;
  background: #253137;
  color: #FFFFFF;
  border-radius: 10px;
  transition: all 0.4s;
}
.info__button:hover {
  background: none;
  color: #253137;
}
.info__button:focus {
  background: none;
  color: #253137;
}
@media screen and (max-width: 575px) {
  .info__icon {
    display: none;
  }
  .info__title br {
    display: none;
  }
  .info__button {
    width: 250px;
  }
}

.language__picture {
  width: calc(180px + 25vw);
}

.skills-section__title {
  text-align: center;
  padding-bottom: calc(50px + 2.8571428571vw);
  font-size: calc(8px + 2.5vw);
}
.skills-section__content {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
.skills-section__card {
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 0 30px 30px 30px;
}

.card__title {
  padding-bottom: 40px;
  font-size: calc(8px + 1.7857142857vw);
}
.card__text {
  padding-bottom: 40px;
  color: #8F95A5;
  font-size: calc(10px + 0.7142857143vw);
}
.card__button {
  padding-inline: 30px;
  padding-block: 15px;
  font-size: 18px;
  font-weight: 500;
  background: #253137;
  color: #FFFFFF;
  border-radius: 10px;
  transition: all 0.4s;
}
.card__button:hover {
  background: none;
  color: #253137;
}
.card__button:focus {
  background: none;
  color: #253137;
}
@media screen and (max-width: 970px) {
  .card__button {
    font-size: 14px;
    padding-block: 15px;
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .card__button {
    width: 70%;
  }
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  grid-row: 1/3;
  grid-column: 1/2;
}
.sidebar .card__title {
  padding-bottom: 60px;
}
.sidebar .card__text {
  padding-bottom: 60px;
}
.sidebar .card__img {
  width: calc(150px + 7.1428571429vw);
  padding-top: 70px;
  padding-bottom: 30px;
}
@media screen and (max-width: 970px) {
  .sidebar {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}
@media screen and (max-width: 650px) {
  .sidebar {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .sidebar .card__title {
    padding-bottom: 40px;
  }
  .sidebar .card__text {
    padding-bottom: 40px;
  }
}

.article-1 {
  grid-row: 1/2;
  grid-column: 2/3;
}
.article-1 .card__img {
  padding-bottom: 30px;
  width: calc(180px + 4.2857142857vw);
}
@media screen and (max-width: 970px) {
  .article-1 .card__img {
    padding-top: 40px;
  }
  .article-1 .card__text {
    padding-bottom: 180px;
  }
}
@media screen and (max-width: 970px) and (max-width: 650px) {
  .article-1 {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .article-1 .card__text {
    padding-bottom: 40px;
  }
}

.article-2 {
  grid-row: 1/2;
  grid-column: 3/4;
}
.article-2 .card__img {
  width: calc(185px + 4.2857142857vw);
  padding-block: 55px;
}
@media screen and (max-width: 970px) {
  .article-2 {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}
@media screen and (max-width: 650px) {
  .article-2 {
    grid-row: 3/4;
    grid-column: 1/3;
  }
  .article-2 .card__img {
    padding-block: 40px;
  }
}

.subarticle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding-top: 30px;
  grid-row: 2/3;
  grid-column: 2/4;
}
.subarticle .card__img {
  width: calc(150px + 7.1428571429vw);
}
@media screen and (max-width: 970px) {
  .subarticle {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 60px 30px 30px 30px;
  }
  .subarticle .card__text {
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 650px) {
  .subarticle {
    grid-row: 4/5;
    grid-column: 1/3;
  }
  .subarticle .card__text {
    padding-bottom: 40px;
  }
  .subarticle .card__img {
    padding-bottom: 40px;
  }
}

.aboutus-section {
  margin-block: 50px;
}
.aboutus-section__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aboutus-section__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  max-width: 550px;
  width: 100%;
}
.aboutus-section__title {
  font-size: calc(8px + 2.5vw);
}
@media screen and (max-width: 575px) {
  .aboutus-section__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    text-align: center;
  }
  .aboutus-section__title {
    text-align: center;
    padding-bottom: 50px;
  }
  .aboutus-section__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.info__text {
  color: #8F95A5;
  padding-top: 20px;
  padding-bottom: calc(30px + 0.7142857143vw);
  font-size: calc(10px + 0.5714285714vw);
}
.info__numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.pupils__number {
  margin-right: calc(12px + 2.1428571429vw);
}
.pupils__number h1 {
  font-size: calc(15px + 1.4285714286vw);
}
.pupils__number p {
  color: #8F95A5;
  font-size: calc(10px + 0.5vw);
}

.teachers__number {
  margin-right: calc(12px + 2.1428571429vw);
}
.teachers__number h1 {
  font-size: calc(15px + 1.4285714286vw);
}
.teachers__number p {
  color: #8F95A5;
  font-size: calc(10px + 0.5vw);
}

.languages__number h1 {
  font-size: calc(15px + 1.4285714286vw);
}
.languages__number p {
  color: #8F95A5;
  font-size: calc(10px + 0.5vw);
}

.aboutus__img {
  width: calc(180px + 17.8571428571vw);
}

.pricing-section__title {
  text-align: center;
  padding-bottom: 100px;
  font-size: calc(8px + 2.5vw);
}
.pricing-section__content {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  row-gap: 10px;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.pricing-section__card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  padding: 20px;
}
.pricing-section__card .card__title {
  font-size: calc(10px + 1.0714285714vw);
}
.pricing-section__card .card__text {
  font-size: calc(10px + 0.7142857143vw);
}
.pricing-section__card .card__price {
  padding: 10px 20px;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 0.4285714286vw);
  color: #8F95A5;
  border-radius: 10px;
  width: calc(150px + 6.4285714286vw);
}
.pricing-section__card .price-big {
  font-size: calc(15px + 1.0714285714vw);
  padding-right: 10px;
  color: #253137;
}
@media screen and (max-width: 570px) {
  .pricing-section__card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pricing-section__card .card__title {
    padding-top: 20px;
  }
  .pricing-section__card .card__price {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.card-1 {
  grid-column: 1/2;
  grid-row: 1/3;
}
.card-1 .card__picture {
  width: calc(180px + 6.4285714286vw);
}
@media screen and (max-width: 920px) {
  .card-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media screen and (max-width: 570px) {
  .card-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.card-2 {
  grid-column: 2/3;
  grid-row: 1/3;
}
.card-2 .card__title {
  padding-bottom: 40px;
}
.card-2 .card__text {
  padding-bottom: 60px;
}
.card-2 .card__picture {
  width: calc(180px + 6.4285714286vw);
  padding-bottom: 30px;
}
@media screen and (max-width: 920px) {
  .card-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .card-2 .card__picture {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 570px) {
  .card-2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .card-2 .card__picture {
    padding-bottom: 0px;
  }
}

.card-3 {
  grid-column: 3/4;
  grid-row: 1/3;
}
.card-3 .card__title {
  padding-bottom: 40px;
}
.card-3 .card__text {
  padding-bottom: 60px;
}
.card-3 .card__picture {
  width: calc(180px + 6.4285714286vw);
}
@media screen and (max-width: 920px) {
  .card-3 {
    width: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 570px) {
  .card-3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}/*# sourceMappingURL=main.css.map */