.header{
    &__container{
        @include flex();
        position: relative;
    }
    .menu{
        @include flex();
        &__list{
            @include flex();
            margin-right: calc(5px + 100 * (100vw / 1400));
            margin-left: 10px;
        }
        &__item:not(:last-child){
            margin-right: calc(10px + 30 * (100vw / 1400));
        }
        &__link{
            position: relative;
            color: $textColor;
            &:after{
                content: '';
                position: absolute;
                display: block;
                width: 0%;
                height: 2px;
                background-color: $borderColor;
                transition: width 0.4s;
                right: 0%;
            }
            &:hover:after{
                width: 100%;
                transition: width 0.4s;
                left: 0%;    
            }
            &:focus{
                border-bottom: 3px solid $borderColor;
            }
        }
        @media screen and (max-width: 767px) {
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        right: -100%;
        top: 0;
        background-color: rgba(255, 255, 255, 1);
        border-left: 1px solid $borderColor;
        border-block: 1px solid $borderColor;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 80px 20px 20px 20px;
        transition: transform .5s;
        overflow: hidden;    
        &__list{
            display: block;
            margin-bottom: 20px;
        }
        &__item:not(:last-child){
            margin-bottom: 15px;
        }
        &__link{
            color: $textColor; 
            &:after{
                content: '';
                position: absolute;
                display: block;
                width: 0%;
                height: 2px;
                background-color: $textColor;
                transition: width 0.4s;
                right: 0%;
            }
            &:hover:after{
                width: 100%;
                transition: all  0.4s;
                left: 0%;    
            }
            }
        }
    }
    &__button{
        padding-inline: calc(17px + 30 * (100vw / 1400));
        padding-block: calc(8px + 12 * (100vw / 1400));
        font-size: calc(8px + 16 * (100vw / 1400));
        font-weight: 500;
        background: none;
        color: $textColor;
        border-radius: $borderRadius;
        transition: all 0.4s;
        &:hover{
            background-color: $buttonBackground;
            color: $textHoverColor;
        }
        &:focus{
            color: $textHoverColor;
            background-color: $buttonBackground;
        }
    }
    &__burger-btn{
        display: none;
        width: 40px;
        height: 40px;
        background: none;
        border: none;
        position: relative;
        z-index: 2;
        span{
            position: absolute;
            border-radius: $borderRadius;
            width: 30px;
            height: 3px;
            left: 5px;
            background-color: $buttonBackground;
            transition: transform .5s, opacity .5s, background-color .5s;
            &:nth-child(1) {
                transform: translateY(-8px);
            }
            &:nth-child(3) {
                transform: translateY(8px);
                width: 22px;
            }   
        }
    }
    @media screen and (max-width: 767px ) {
        &__button{
            background-color: $buttonOpenBackground;
        }
        &__burger-btn{
            display: block;
        }
    }
    &.open{
        .header__button{
            margin-left: 10px;
        }
        .header__burger-btn{
            span:nth-child(1) {
                transform: translateY(0) rotate(45deg);
                width: 22px;
            }
            span:nth-child(2) {
                opacity: 0;
            }
            span:nth-child(3) {
                transform: translateY(0) rotate(-45deg);
                width: 22px;
            }
        }
        @media screen and (max-width: 767px) {
            .menu {
                transform: translateX(-100%);
            }
        }
    }
}