* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul , ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.wrapper{
    overflow: hidden;
}

.container{
    max-width: 1400px;
    width: 100%;
    padding: 30px;
    margin: 0 auto;
}