$cardBackground: #F5F5F5;
$buttonBackground: #253137;
$buttonOpenBackground: #FFFFFF;
$borderColor: #263238;
$textColor: #263238;
$textHoverColor: #FFFFFF;
$textGrayColor: #8F95A5;
$priceBackground: #EEEEEE;
$menuBackground: #263238;
// border 
$borderRadius: 5px;